<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.manager">
    <application>
        <activity android:name=".view.ManagerActivity">
        </activity>
        <activity android:name=".view.FoodEditActivity"/>
        <activity android:name=".view.AddFoodActivity"/>
    </application>
</manifest>