<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ordermealapp">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:networkSecurityConfig="@xml/network_security"
        android:icon="@drawable/ic_app_order_meal"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app_order_meal"
        android:supportsRtl="true"
        android:theme="@style/Theme.OrderMealApp">
    </application>

</manifest>